html,body,div,p,a,ul,li,img,span,i{
    margin: 0px;
    padding: 0;
}
ul,li{
    list-style: none;
}
img{
   border: none;
}
span,i{
    display: inline-block;
}
html,body{
    width: 100%;
    overflow-x:hidden ;
    background-color: #f4f4f4;
    color: #555;
    font-size: 14px;
}
.container{
    margin: 20px auto;
    width: 1200px;
    overflow: hidden;
}

.header span{
    float: left;
    width: 90px;
    line-height: 50px;
    text-align: center;
}
.header a{
    float: left;
    position: relative;
    padding: 0 15px;
    line-height: 50px ;
    text-align: center;
    color: #999;
    text-decoration: none;
}
.header a i{
    position: absolute;
    width: 0;
    height: 0;
    font-size: 0;
    border: 4px solid transparent;
    top: 50%;
    right: 3px;
    margin-top: -4px;
}
.header a i.up{
    border-bottom-color:#999 ;
    margin-top: -9px;
}
.header a i.down{
    border-top-color:#999 ;
    margin-top: 1px;
}
.header a:hover{
    color: #E01D20;
}
.header a i.up.bg{
    border-bottom-color: #E01D20;
}
.header a i.down.bg{
    border-top-color: #E01D20;
}
.clear{
    clear: both;
}
/*商品列表*/
.list{
    width: 1205px;
    margin-top: 20px;
}
.list li{
    margin: 0 10px 10px 0;
    float: left;
}
.list li a{
    display: block;
    padding: 0 16px;
    width: 193px;
    background: #fff;
    border: 3px solid transparent;
    text-decoration: none;
}
.list li a img{
    display: block;
    width: 100%;
    margin-top: 10px;
}
.list li a p{
    line-height: 40px;
    color: #999;
}
.list li a p.hot{
    color: orangered;
}
.list li a span{
    line-height: 40px;
    color: darkorange;
}
.list li a p.time{
    color: darkkhaki;
}
.list li a del{
    color: #999;
}
.list li a:hover{
    box-shadow: 1px 2px 3px #ccc;
    position: relative;
    top: -5px;
}
.list li a:hover img{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    /*-webkit-webkit内核：谷歌，*/
    -moz-transform: scale(1.1);
    /*-moz-：火狐*/
    -ms-transform: scale(1.1);
    /*-ms-：IE*/
    -o-transform: scale(1.1);
    /*-o-：欧朋*/
}

