html,body,ul,li,div,img,h2,p{
    margin: 0;
    padding: 0;
}
ul,li{
    list-style: none;
}
img{
    border: none;
}
#news{
    padding: 15px;
}
#news li{
    position: relative;
    height: 60px;
    border-bottom:1px dashed #ccc ;
    padding: 10px 0;
}
#news li div:nth-child(1){
    position: absolute;
    left: 0;
    top:10px;
    width: 60px;
    height: 60px;
}
#news li img{
    width: 100%;
    height: 100%;
    vertical-align: top;
}
#news li div:nth-child(2){
    height: 60px;
    margin-left: 75px;
}
#news li div:nth-child(2) h2{
    padding: 2px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#news li div:nth-child(2) p{
    height: 32px;
    line-height: 16px;
    font-size: 12px;
    color: #999;
}

.more{
    text-align: center;
    color: #ccc;
    padding-top: 10px;
}